<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1.导入spring-context的依赖-->

    <!--2.创建一个Spring的配置文件(applicationContext.xml)-->

    <!--3.在配置文件中配置Bean-->

    <bean id="bookMapperRef" name="mapper" class="com.daxtech.mapper.Imp.BookMapperImp"/>

    <bean id="bookService" name="service" class="com.daxtech.service.Imp.BookServiceImp" init-method="init" destroy-method="destroy">
    <!--7.配置mapper与service的关系-->
        <!--property标签表示配置当前bean的属性
        name属性表示要配置哪一个具体的属性
        ref属性表示参照哪一个bean-->
        <property name="bookMapper" ref="mapper"/>
        <property name="num" value="10"/>
    </bean>

    <!--静态工厂、实例工厂（了解）-->


</beans>